.input, .output {
  width: 98%;
  height: 2em;
  margin: 1em;
}

.container {
  border: 2px solid gray;
  padding: 1em;
  margin-top: 5em;
  width: 100%;
}

.btn-size {
  width: 8em;
  padding: .3em;  
}