.input, .output {
  width: 98%;
  height: 2em;
  /* margin: 1em; */
  margin: 1rem auto;
}

.container {
  border: 2px solid gray;
  padding: 1em;
  margin-top: 5em;
  width: 100%;
  position: relative;
}

.btn-size {
  width: 8em;
  padding: .3em;  
}

.author-container, .header {  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;  
  width: 100%;
}

.author {
  font-size: .9rem;
  color: rgba(0, 0, 0, .5);
  padding-right: 5px;
}

.header {
  bottom: unset;  
  top: 0;
  padding-right: 5px;
}

.github-link a {
  color: #000;
  font-size: 1.3rem;
}

.github-link a:hover {
  color: blue;
}